# Default ignored files
/../../../../:bai tap bien_kieudulie_toantu 11/7/.idea/shelf/
/../../../../:bai tap bien_kieudulie_toantu 11/7/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:bai tap bien_kieudulie_toantu 11/7/.idea/httpRequests/
